@use "../abstracts//" as *;

.utility {
  position: absolute;
  inset: 0 0 auto; // TODO:
  background-color: #000;
  padding-block: 2rem; // TODO:
  > div {
    display: flex;
    justify-content: end;
    gap: 2rem;
    width: $websize;
    margin-inline: auto;
  }
}